/**
 * Fix user-agent
 */

 * {
    box-sizing: border-box;
  }
  
  html, body {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  /**
   * Canvas
   */
  
   #root{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    height: 100%;
   }
   h1, h2{
    display: block;
    float: left;
    position: relative;
    width: 100%;
   }
   .main{
    display: block;
    float: left;
    width: 100%;
    position: relative;
    height: auto;
   }
   .makeStyles-root-1{
    display: block;
    float: left;
    width: 100%;
    position: relative;
   }
   .makeStyles-root-1, .MuiBox-root-7, .main-wb, .MuiTypography-body1{
       height: 100%;
   }
   #simple-tabpanel-0{
    height: 100%;
   }
   .main-wb{
    display: block;
    float: left;
    width: 100%;
    position: relative;
   }

  .whiteboard {
    height: calc(100% - 55px);
    width: 100%;
    position: relative;
    /* left: 0;
    right: 0;
    bottom: 0;
    top: 0; */
    z-index: 2147483647;
    border: 1px solid;
  }
  
  .colors {
    position: relative;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  