/**
 * Fix user-agent
 */

 * {
    box-sizing: border-box;
  }
  
  html, body {
    /* height: 100%; */
    margin: 0;
    padding: 0;
  }
  
  /**
   * Canvas
   */
  
   #root{
       /* height: 100%; */
   }
   .main{
       /* height: 100%; */
   }
   .makeStyles-root-1, .MuiBox-root-7, .main-wb, .MuiTypography-body1{
       /* height: 100%; */
   }
   #simple-tabpanel-0{
    /* height: 100%; */
    }

  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -2147483647;
  }
  
  .colors {
    position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  